body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/Фон\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-page {
  width: 99vw;
  background-color: #00000040;
}

.header-section {
  width: 88.43%;
  height: 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section-left {
 width: 346px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-section-title-link {
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #ffffff;
  font-size: 1.375rem;
  line-height: 1.375rem;
  transition: color 1s ease 0.2s;
}

.header-icon {
  fill:white;
  transition: fill 1s ease 0.2s;
}

.header-text {
  color: #ffffff;
  position: relative;
  width: 203px;
  text-align: right;
  display: inline-block;
}

.header-text-link {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 1s ease 0.2s;
}

.header-text::before {
  content: url("../img/line\ \(1\).png");
  position: absolute;
  left: 0px;
}

.header-section-title-link:hover,
.header-text-link:hover {
  color: #3CB878;
}

.header-section-icons-link:hover .header-icon {
  fill: #3CB878;
}

.header-page:hover {
  background-color: #000000;
  opacity: 0.4;
}

.page-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  position: relative;
}

.form-wrapper {
  width: 324px;
  height: 584px;
  margin-left: auto;
  margin-right: auto;
}

.common-form-text {
  font-family: "Ubuntu";
  font-weight: 400;
}
.common-form-text-regular {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.section-form-text {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.text-legend::before {
  content: url("../img/shape.png");
  position: absolute;
  left: 0;
}

.text-legend {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.form-text-green {
  color: #3cb878;
  text-decoration: none;
}

.form-text-green:hover {
  color: #01813F;
  text-decoration: underline;
}

.form-container {
  height: 524px;
  margin-top: 13px;
}

.common-btn {
  box-sizing: border-box;
  width: 160px;
  height: 48px;
  position: relative;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  text-align: right;
  cursor: pointer;
}

.common-btn::before {
  content: url("../img/Rectangle\ 2.png");
  position: absolute;
  left: 49px;
  top: 10px;
}

.btn-facebook {
  background-color: #305db8;
  padding-right: 22px;
}

.btn-facebook:hover {
  background-color: #022263;
}

.btn-google {
  background-color:  #DF4A32;
  padding-right: 27px;
}

.btn-google:hover {
  background-color: #AB1F09;
}

.svg-btn-facebook {
  position: absolute;
  left: 17px;
  top: 12px;
}

.svg-btn-google {
  position: absolute;
  left: 10px;
  top: 15px;
}

.separator {
  display: block;
  height: 14px;
  margin-top: 31px;
  margin-bottom: 12px;
  position: relative;
  text-align: center;
}

.separator::after {
  content: url("../img/line\ \(2\).png");
  position: absolute;
  right: 0px;
  bottom: 3px;
}

.separator::before {
  content: url("../img/line\ \(2\).png");
  position: absolute;
  left: 0px;
  bottom: 3px;
}

.common-input {
  box-sizing: border-box;
  width: 332px;
  height: 44px;
  margin-bottom: 15px;
  padding-left: 20px;
  color: black;
  border: 1px solid  #F2F2F2;
  border-radius: 4px;
  display: block;
}

.common-input::placeholder {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: #BEBEBE;
}

.common-input:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.common-input:active {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.label-checkbox {
  max-width: 324px;
}

.input-checkbox {
  display: none;
}

.fake-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  position: relative;
  top: 4px;
  margin: 0 8px 0 0;
}

.fake-checkbox::after{
  content: url("../img/Vector\ 1\ \(1\).png");
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
}

.input-checkbox:checked + .fake-checkbox::after{
opacity: 1;
}

.btn-create {
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  width: 324px;
  height: 46px;
  background-color: #3cb87880;
  border:none;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 38px;
  cursor: pointer;
}

.btn-create:hover {
background-color: #01813F;
}
