body {
  width: 1280px;
  height: 1282px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 justify-content: center;
}
* {
  font-family: "Roboto";
  font-weight: 400;
}
.page-title-link {
  width: 1280px;
  text-decoration: none;
  color: #000000;
  font-size: 5rem;
  line-height: 5.875rem;
}
.blue {
  font-size: 5rem;
  line-height: 5.875rem;
  color: #4bcaff;
}
.page-navigation {
  width: 100%;
  background-color: #35444f;
  margin-top: 40px;
}
.page-navigation-menu {
  width: 100%;
  height: 69px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-navigation-menu-item {
  box-sizing: border-box;
  border-left: 1px solid #ffffff;
  text-align: center;
}
.page-navigation-menu-link {
  display: block;
  font-size: 1.5rem;
  line-height: 69px;
  color: #ffffff;
  text-decoration: none;
}
.nav-functional {
  flex-basis: 331px;
}
.nav-ramda {
  flex-basis: 151px;
}
.nav-fantasy {
  flex-basis: 284px;
}
.nav-node {
  flex-basis: 221px;
  border-right: 1px solid #ffffff;
}
.page-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}
.aside {
  width: 26.87%;
  box-sizing: border-box;
  border: 1px solid #000000;
  height: 399px;
}
.aside-list {
  width: 100%;
  height: 399px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside-list-item {
  width: 344px;
  box-sizing: border-box;
  padding-left: 44px;
}
.aside-list-link {
  display: block;
  font-size: 1.6875rem;
  line-height: 1.6875rem;
  line-height: 78px;
  color: #485863;
  text-decoration: none;
}
.page-main {
  flex-basis: 69.14%;
  margin-left: 52px;
}
.page-main-box {
  width: 100%;
  height: 526px;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-main-box-img {
  width: 320px;
  height: 381px;
}
.page-main-text {
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 37px;
  color: #2c2c2c;
}
.text-bottom {
  margin-bottom: 54px;
}
.footer-container {
  background-color: #63696e;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list {
  box-sizing: border-box;
  width: 915px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
}
.footer-list-item {
  list-style: none;
}
.footer-list-item-link {
  display: block;
  font-size: 1.75rem;
  line-height: 69px;
  color: #0c1927;
  text-decoration: none;
}
.footer-ramda {
  flex-basis: 89px;
}
.footer-ramda-question {
  flex-basis: 164px;
}
.footer-different {
  flex-basis: 211px;
}
.footer-introduction {
  flex-basis: 166px;
}
.footer-philosophy {
  flex-basis: 138px;
}
.copyright {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  flex-basis: 325px;
  text-align: end;
  padding-right: 40px;
}
