@font-face {
  font-family: "Gilam";
  src: url(../fontsGilam/GilamBold.otf) format("opentype");
  src: url(../fontsGilam/GilamSemiBold.otf) format("opentype");
  src: url(../fontsGilam/GilamRegular.otf) format("opentype");
  src: url(../fontsGilam/GilamBook.otf) format("opentype");
}
@font-face {
  font-family: " Circe";
  src: url(../fontsCirce/Circe-Regular.ttf) format("truetype");
}
