@import url(../style/fonts.css);
body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}
.header {
  max-width: 1460px;
  margin: 0 auto;
}
.heading-container {
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  width: 216px;
  height: 33px;
}
.common-button {
  font-family: "Circe";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #e4b564;
  border: 1px solid #e4b564;
  width: 218px;
  height: 50px;
  text-align: center;
}
.header-button {
  background-color: #171717;
}
.button-img {
  width: 12.96px;
  height: 12.96px;
  padding-right: 10px;
}
.section-net {
  max-width: 1460px;
  margin: 0 auto;
}
.container-net {
  margin-top: 157px;
}
.common-section-title {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.75rem;
  color: #ffffff;
}
.section-text-net {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
  max-width: 1182px;
  margin-bottom: 41px;
  margin-top: 41px;
}
.section-net-list {
  display: grid;
  grid-template-rows: repeat(2, 468px);
  grid-template-columns: repeat(6, 1.5fr);
  gap: 27px;
}
.net-item-earthwork {
  background-color: #634f2c;
  grid-column: span 2;
}
.net-item-pipelines {
  background-color: #b4a385;
  grid-column: span 2;
  text-align: center;
}
.net-item-channels {
  background-color: #e4b564;
  grid-column: span 2;
}
.net-item-prop {
  background-color: #635a4a;
  grid-column: span 3;
}
.net-item-well-device {
  background-color: #b08c4d;
  grid-column: span 3;
}
.section-net-item {
  position: relative;
}
.section-net-item-text {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.net-pipelines-prop-text {
  width: 390px;
}
.section-park {
  max-width: 1460px;
  margin: 0 auto;
}
.container-park {
  margin-top: 161px;
  margin-bottom: 94px;
}
.section-park-list {
  max-width: 1460px;
  height: 897px;
  display: grid;
  grid-template-columns: repeat(3, 1 fr);
  grid-template-rows: repeat(17, 1 fr);
  column-gap: 29px;
  row-gap: 24px;
  margin-bottom: 211px;
}
.section-park-item {
  padding-left: 50px;
  padding-top: 44px;
}
.section-park-item-text {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
  text-align: left;
}
.section-park-item-text-book {
  font-family: "Gilam";
  font-weight: 400;
}
.section-park-item-text-regular {
  font-family: "Gilam";
  font-weight: 500;
}
.section-park-item-black {
  font-family: "Gilam";
  font-weight: 500;
  color: #000000;
}
.park-item-sludge-machine {
  background-color: #0e0e0e;
  grid-area: 1/1/6/1;
}
.park-item-washing-machine {
  background-color: #242424;
  grid-area: 1/2/9/2;
}
.park-item-backhoe-loader {
  background-color: #1f1f1f;
  grid-area: 1/3/5/3;
}
.park-item-onboard-machine {
  background-color: #0e0e0e;
  grid-area: 5/3/12/3;
}
.park-item-loader {
  background-color: #1f1f1f;
  grid-area: 6/1/17/1;
}
.park-item-excavator {
  background-color: #e4b564;
  grid-area: 9/2/16/2;
}
.park-item-truck {
  background-color: #0a0909;
  grid-area: 12/3/17/3;
}
.section-park-item {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
}
.section-park-item-text-regular {
  font-family: "Gilam";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.section-clients {
  max-width: 100vw;
  height: 100vh;
  background-color: #0e0e0e;
}
.container-clients {
  max-width: 1460px;
  margin: 0 auto;
  height: 161px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 72px;
}
.section-button-clients {
  background-color: #0e0e0e;
}
.section-clients-list {
  max-width: 1460px;
  margin: 0 auto;
  height: 782px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.clients-item-eid {
  background-color: #634f2c;
}
.clients-item-mark {
  background-color: #e8d2ab76;
}
.clients-item-real-estate {
  background-color: #e4b564;
}
.clients-item-areal-estate {
  background-color: #635a4a;
}
.clients-item-setlgroup {
  background-color: #b08c4d;
}
.section-clients-item {
  position: relative;
}
.section-clients-item-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clients-item-mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients-item-text {
  font-family: "Gilam";
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #ffffff;
  max-width: 315px;
  text-align: center;
}
.clients-item-text-light {
  font-family: "Gilam";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.75rem;
}
.clients-item-text-block {
  display: inline-block;
  max-width: 250px;
  text-align: center;
}
.clients-item-setlgroup-text {
  font-family: "Gilam";
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
}
.clients-item-setlgroup-img {
  position: absolute;
  left: 176px;
  top: 175px;
}
.setlgroup-text-uppercase {
  text-transform: uppercase;
}
